


SECRET_KEY=

ALLOWED_HOSTS=

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=localhost

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=

BUSINESS_SHORTCODE=
PHONE_NUMBER=
LNM_PASSKEY=
CONSUMER_KEY=
CONSUMER_SECRET=
SHORTCODE=
TEST_MSISDN=